[submodule "claude-config"]
	path = claude-config
	url = git@github.com:danahern/claude-config.git
[submodule "claude-mcps"]
	path = claude-mcps
	url = git@github.com:danahern/claude-mcps.git
[submodule "test-tools"]
	path = test-tools
	url = git@github.com:danahern/test-tools.git
[submodule "firmware"]
	path = firmware
	url = git@github.com:danahern/firmware.git
